block variables
  - var title = "Divvy"
  - var tagline = "Split bills between friends"
  - var description = "Divvy will evenly split bills between friends. Add the expenses for each person and Divvy will find the most efficient sequence of repayments."
  - var card = "card-divvy.png"

doctype html
html(lang="en")

  head

    title #{title} &#8729; #{tagline}
    meta(name="description", content="#{description}")
    meta(name="robots", content="NOODP")
    meta(name="theme-color", content="#1e96ff")
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1")
    meta(name="author", content="Cody Lindsay Gordon")

    //- Opengraph
    meta(property="og:title", content="#{title} &bull; #{tagline}")
    meta(property="og:site_name", content="#{title}")
    meta(property="og:description", content="#{description}")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://divvy.lol")
    meta(property="og:image", content="http://divvy.lol/#{card}")

    //- iOS webclip icons
    link(rel="apple-touch-icon", href="touch-icon-iphone.png")
    link(rel="apple-touch-icon", sizes="76x76", href="touch-icon-ipad.png")
    link(rel="apple-touch-icon", sizes="120x120", href="touch-icon-iphone-retina.png")
    link(rel="apple-touch-icon", sizes="152x152", href="touch-icon-ipad-retina.png")
    link(rel="apple-touch-icon", sizes="180x180", href="touch-icon-iphone-plus-retina.png")

    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="divvy.css")

    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42238629-9', 'auto');
      ga('send', 'pageview');

  body.loading

    header
      svg(version="1.1", x="0px", y="0px", viewBox="0 0 20 20", xml:space="preserve")
        path(d="M13,12.709v3")
        path(d="M17,11.121v3")
        path(d="M15,12.149v3")
        ellipse(cx="10", cy="8", rx="9", ry="5")
        path(d="M19,8v3c0,2.761-4.029,5-9,5s-9-2.239-9-5V8")
      h1 #{title}
      h2 #{tagline}

    div.container

      svg.loader
        circle(cx="10", cy="10", r="9")

      div.calculator

        div#person-template.person
          span(data-tooltip="Remove person").remove-person.remove-control &times;
          input.name.js-divvy(type="text", placeholder="Person", autocapitalize="word", autocomplete="off", autocorrect="off")
          div.expense-list
            div#expense-template.expense
              span(data-tooltip="Remove expense").remove-expense.remove-control &times;
              input.label.small-text(type="text", placeholder="Expense", autocapitalize="sentence", autocomplete="off")
              input.expense-cost.js-divvy(type="number", min="0", placeholder="0.00")
            button.add-expense.small-text + Add expense
          hr
          div.expense-total 0.00

        div.person
          span(data-tooltip="Remove person").remove-person.remove-control &times;
          input.name.js-divvy(type="text", placeholder="Person", autocapitalize="word", autocomplete="off", autocorrect="off")
          div.expense-list
            div.expense
              span(data-tooltip="Remove expense").remove-expense.remove-control &times;
              input.label.small-text(type="text", placeholder="Expense", autocapitalize="sentence", autocomplete="off")
              input.expense-cost.js-divvy(type="number", min="0", placeholder="0.00")
            button.add-expense.small-text + Add expense
          hr
          div.expense-total 0.00

        button.add-person
          div.small-text + Add person

      div.text-box
        div.payment-summary
        h4.cost-summary.hidden
          span.cost-total 0.00
          |  split between 
          span.number-of-people 2
          |  people at 
          span.cost-share 0.00
          |  each
        h4.add-expenses Add the expenses for each person and the total bill will be shared
        p.add-expenses Divvy will find the most efficient sequence of repayments
        h4.even-expenses.hidden
          | It all worked out in the end
          br
          br
          | ( ͡° ͜ʖ ͡°)
        h4.add-more-people.hidden
          | Add more people pls
          br
          br
          | ༼ つ ͠° ͟ ͟ʖ ͡° ༽つ

    footer
      h2 Made by 
        a(href="//clg.name", target="_blank") Cody Lindsay Gordon

    script(type="text/javascript", src="divvy.js")
